<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WPF_ZooManager.Properties.Settings.TutorialsDBConnectionString"
            connectionString="Data Source=LAPTOP-938SNHB2\MSSQLSERVER01;Initial Catalog=TutorialsDB;Integrated Security=True;Pooling=False;Encrypt=False;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>